@model IEnumerable<MvcBlogProjesi.Models.BlogModel>
@{
    ViewBag.Title = "List";
}

@foreach (var blog in Model)
{
    if (@blog.Baslik == null || @blog.Aciklama == null)
    {
        <p>Hata</p>
    }
    else
    {
        <div class="blog">
            <a href=""><h3 class="page-header">@blog.Baslik</h3></a>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                @blog.EklenmeTarihi
            </p>
            <hr />
            <img class="img-fluid" alt="Responsive image" src="@blog.Resim" />
            <hr />
            <p>
                @blog.Aciklama
            </p>
            @Html.ActionLink("Daha Fazla...", "Details", "Blogs", new { id = @blog.Id }, new { @class = "btn btn-primary btn-xs" })
            <br />
            <br />

        </div>
    }
}
@{ Html.RenderAction("CategoryList", "Category");}



